* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html {
    overflow-y: scroll; 
}

body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    color: #d7481d;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.2);
}

header h1 {
    font-size: 2em;
    color: #d7481d;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #d7481d;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section#main-content {
    padding: 2em;
    margin: 2em auto;
    max-width: 1100px;
    background-color: #b2b2b0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h2 {
    font-size: 5em;
    text-align: center;
    background-color: #6e6e6e;
    border-radius: 8px;
    max-width: 350px;
    margin: auto; 
    color: white;
}

.image-column {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.item, .item2 {
    margin: 1em; 
    text-align: center; 
    position: relative; top: 20px;
}

.item img, .item2 img {
    width: 100%;
    max-width: 430px; 
    border-radius: 10px;
    transition: transform 0.3s;
}

.item2 img:hover {
    transform: scale(1.06);
}

.item img:hover {
    transform: scale(1.06);
}

.text1, .text2 {
    font-size: 2em; 
    background-color: #829195;
    border-radius: 10px;
    margin: 0.5em 0; 
    max-width: 200px;
    margin: auto;
    position: relative; bottom: 20px;
}    
